body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    justify-content: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url('../assets/futuristic-background.png');
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(19, 181, 181);
}

main {
    color: rgb(19, 181, 181);
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    margin: 6px;
    padding: 4px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
